Options All -Indexes
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
ErrorDocument 404 /?b=error&p=error404

# MAIN
RewriteRule	^home/?$	?b=home&p=home	[L]

# API
RewriteRule ^api/article/?$ ?b=article&p=article&api=true [L]
RewriteRule ^api/article/id/([0-9]+)/?$ ?b=article&p=article&api=true&id=$1 [L]
RewriteRule ^api/keyword/?$ ?b=article&p=keyword&api=true [L]
RewriteRule ^api/keyword/id/([0-9]+)/?$ ?b=article&p=keyword&api=true&id=$1 [L]
RewriteRule ^api/assigned/?$ ?b=article&p=assigned&api=true [L]
RewriteRule ^api/assigned/article/([0-9]+)/?$ ?b=article&p=assigned&api=true&article_id=$1 [L]
RewriteRule ^api/assigned/keyword/([0-9]+)/?$ ?b=article&p=assigned&api=true&keyword_id=$1 [L]