{% extends '/layouts/main.html.twig' %}
{% block titlePage %} Erreur 404 {% endblock %}
{% block bg %}my-background.jpg{% endblock %}

{% block body %}
    <div id="error404" class="col-md-12">
        Sorry but this page doesn't exist.
    </div>
{% endblock %}