{% extends 'layouts/main.html.twig' %}
{% block titlePage %} Welcome to Search Engine {% endblock %}
{% block metaPage %} Search engine for article {% endblock %}
{% block bg %}my-background.jpg{% endblock %}
{% block pathJs %} <script src="{{ js }}searchengine.js"></script> {% endblock %}

{% block body %}
    <input type="text" name="search" id="search" class="material-form form-control ripple"
           placeholder="Search an article with keys words">
    <div class="articles">

    </div>
{% endblock %}